In [ ]:
"""
Из набора данных Titanic.csv выведите:
количество пассажиров,
средний возраст пассажира,
среднуюю стоимость билета,
максимальную и минимальную цену билета,
пассажира с максимальной ценой билета,
средний возраст мужчин и женщин по отдельности,
средний процент выживаемости мужчин и женщин,
среднюю стоимость билета в зависимости от класса проживания,
количество билетов по классам проживания,
количество выживших пассажиров
"""

In [6]:
import pandas as pd

df = pd.read_csv('Titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
"""Task 1. Average age of clients"""

df.Age.mean()

29.69911764705882

In [8]:
"""Task 2. Average price of tickets"""

df.Fare.mean()

32.204207968574636

In [17]:
"""Task 3. Min and Max price of ticket"""
print('Min', df.Fare.min())
print(df[df['Fare'] == df.Fare.min()])

print('Max', df.Fare.max())
print(df[df['Fare'] == df.Fare.max()])

Min 0.0
     PassengerId  Survived  Pclass                              Name   Sex  \
179          180         0       3               Leonard, Mr. Lionel  male
263          264         0       1             Harrison, Mr. William  male
271          272         1       3      Tornquist, Mr. William Henry  male
277          278         0       2       Parkes, Mr. Francis "Frank"  male
302          303         0       3   Johnson, Mr. William Cahoone Jr  male
413          414         0       2    Cunningham, Mr. Alfred Fleming  male
466          467         0       2             Campbell, Mr. William  male
481          482         0       2  Frost, Mr. Anthony Wood "Archie"  male
597          598         0       3               Johnson, Mr. Alfred  male
633          634         0       1     Parr, Mr. William Henry Marsh  male
674          675         0       2        Watson, Mr. Ennis Hastings  male
732          733         0       2              Knight, Mr. Robert J  male
806          807         0       1            Andrews, Mr. Thomas Jr  male
815          816         0       1                  Fry, Mr. Richard  male
822          823         0       1   Reuchlin, Jonkheer. John George  male

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
179  36.0      0      0    LINE   0.0   NaN        S
263  40.0      0      0  112059   0.0   B94        S
271  25.0      0      0    LINE   0.0   NaN        S
277   NaN      0      0  239853   0.0   NaN        S
302  19.0      0      0    LINE   0.0   NaN        S
413   NaN      0      0  239853   0.0   NaN        S
466   NaN      0      0  239853   0.0   NaN        S
481   NaN      0      0  239854   0.0   NaN        S
597  49.0      0      0    LINE   0.0   NaN        S
633   NaN      0      0  112052   0.0   NaN        S
674   NaN      0      0  239856   0.0   NaN        S
732   NaN      0      0  239855   0.0   NaN        S
806  39.0      0      0  112050   0.0   A36        S
815   NaN      0      0  112058   0.0  B102        S
822  38.0      0      0   19972   0.0   NaN        S
Max 512.3292
     PassengerId  Survived  Pclass                                Name  \
258          259         1       1                    Ward, Miss. Anna
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez
737          738         1       1              Lesurer, Mr. Gustave J

        Sex   Age  SibSp  Parch    Ticket      Fare        Cabin Embarked
258  female  35.0      0      0  PC 17755  512.3292          NaN        C
679    male  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
737    male  35.0      0      0  PC 17755  512.3292         B101        C

In [21]:
"""Task 4. Average age for women and men"""

df.groupby('Sex')['Age'].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [22]:
"""Task 5. Average survival chance"""
df.groupby('Sex')['Survived'].mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [23]:
"""Task 6. Average fare in dependence of passenger class """
df.groupby('Pclass')['Fare'].mean()

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [25]:
"""Task 7. Count of ticket in each passenger class"""

df.groupby('Pclass')['PassengerId'].count()

Pclass
1    216
2    184
3    491
Name: PassengerId, dtype: int64

In [29]:
"""Task 8. Count of survived passengers"""

df.Survived.sum()

342